<p id="notice"><%= notice %></p>

<p>
  <strong>Номер вагона:</strong>
  <%= @wagon.number %>
</p>

<p>
  <strong>Тип:</strong>
  <%= @wagon.type_wagon %>
</p>

<p>
  <strong>Количество верхних полок:</strong>
  <%= @wagon.top_seats_count %>
</p>
<p>
  <strong>Количество нижних полок:</strong>
  <%= @wagon.bottom_seats_count %>
</p>
<p>
  <strong>Вагон в составе поезда:</strong>
  <% if @wagon.train.present? %>
      <%= @wagon.train.number %>
  <% else %>
      Поезд не назначен
  <% end %>
</p>

<%= link_to 'Редактировать', edit_wagon_path(@wagon) %>
<%= link_to 'Назад', wagons_path %>