<p id="notice"><%= notice %></p>

<p>
  <strong>Название маршрута:</strong>
  <%= @route.title %>
</p>

<% if @route.trains.empty? %>
    <p> Маршрут не назначен</p>
<% else %>
    <p>Список поездов</p>
    <ul>
      <% @route.trains.each do |train|%>
          <li> <%= train.number %> </li>
      <% end %>
    </ul>
<% end %>

<%= link_to 'Редактировать', edit_route_path(@route) %>
<%= link_to 'Назад', routes_path %>